html {
	background-color: #121212;
	color: #c7c7c7;
	margin: 2rem;
}

#something{
	display: inline-block;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	font-size: large;
	background-color: #343434;
	color: #c7c7c7;
	border-width: 2px;
	border-color: #454545;
	border-radius: 0.5rem;
	font-family: "VictorMono NFM";
	font-weight: bold;
}
