html {
    background-color: #121212;
    color: #c7c7c7;
}

.code {
    position: relative;
    display: inline-block;
    white-space: pre;
    background-color: #232323;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2.0rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
    font-size: small;
    font-family: "JetBrainsMono NFM", monospace;
    margin-left: 2rem;
}

.code::selection {
    background-color: #343434;
}

.code::before {
    font-size: x-small;
    content: "C++";
    position: absolute;
    top: 0rem;
    width: 100%;
    height: 10%;
    bottom: 100%;
    /* padding-left: 1rem; */
    padding-top: 0.7rem;
    padding-bottom: 0.5rem;
    background-color: #303030;
    border-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    left: 0;
    color: #888888;
    text-indent: 1rem;
}
